@font-face {
    font-family: "Digital-7 V7";
    src: url("https://db.onlinewebfonts.com/t/58045dabdc3a361cb9bb9faf2f1dd1f3.eot");
    src: url("https://db.onlinewebfonts.com/t/58045dabdc3a361cb9bb9faf2f1dd1f3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/58045dabdc3a361cb9bb9faf2f1dd1f3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/58045dabdc3a361cb9bb9faf2f1dd1f3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/58045dabdc3a361cb9bb9faf2f1dd1f3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/58045dabdc3a361cb9bb9faf2f1dd1f3.svg#Digital-7 V7")format("svg");
}

body {
    background-color: rgb(209, 184, 73);
    display: flex;
    justify-content: center;
}
#masterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
    height: 75vh;
    width: 45vh;
    border-radius: 2%;
    background-color: rgb(31, 53, 116);
    box-shadow: 3vw 3vw 2vw -4vw rgb(0, 255, 234) inset,
                -2vw -2vw 1vw -2vw rgba(0, 6, 92, 0.644) inset,
                -.25vw -.25vw .5vw .25vw rgba(0, 1, 43, 0.822) inset,
                -.25vw -.25vw .25vw .1vw rgb(6, 0, 22) inset,
                -.25vw -.25vw 1vw .01vw rgb(0, 0, 0) inset,  
                1vw 1vw 3vh black;
}
#topBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    
}
#displayBox {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 75%;
    height: 85%;
    margin-bottom: 2vh;
    background-color: rgb(135, 158, 134);
    padding: .25vh;
    color: rgb(32, 49, 6);
    font-family: "Digital-7 V7";
    box-shadow: 
                0vw 0vw 1vw -.2vw rgba(106, 252, 232, 0.384) inset,
                -.25vw -.25vw .75vh -.2vw rgb(0, 14, 59),
                .25vw .25vw .75vh -.2vw rgba(0, 255, 242, 0.199),
                0vw 0vw 2vw .5vw rgb(255, 255, 255) inset,
                -.25vw -.25vw .75vh -.2vw rgba(0, 14, 59, 0.959),
                .25vw .25vw .75vh -.2vw rgba(0, 255, 242, 0.5),
                0vw 0vw 1vh 0vw rgba(255, 255, 255, 0.938);

}
#previousDisplay {
    font-size: 2.5vh;
    opacity: .6
}
#mainDisplay {
    padding: none;
    animation: blink 2s infinite; 
    font-size: 7.5vh;
    text-align: right;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0.6;
    }
    95% {
        opacity: 0.6;
    }
}

#allButtonsBox {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 75%;
}
#leftButtons {
    display: flex;
    flex-direction: column;
    width:70%;
    
}
#rightButtons {
    width: 20%;
    height: 100%;
}
#operationsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}
#operationsBox button {
    background-color: brown;
    color: rgb(238, 240, 221);
}
#extraBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 33.3%;
}
#extraBox button{
    background-color: brown;
    color: rgb(238, 240, 221);
}
#mainNumberBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50%;
}
#mainNumberBox button{
    color: rgb(31, 53, 116);
}
#onZeroDotBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 16.7%;
}
.button {
    width: 7vh;
    height: 8vh;
}
.buttonR {
    width: 7vh;
    height: 8vh;
}
#equalButton {
    height: 17.6vh;
    margin-bottom: 1.3vh;
}
#onButton {
    background-color: brown;
    color: rgb(238, 240, 221);
}
button {
    border: none;
    border-radius: 10%;
    box-shadow: 1vw 1vh 2vh rgb(20, 31, 39),
                -.25vw -.25vw .5vh -.2vw rgba(0, 14, 59, 0.527),
                .25vw .25vw .5vh -.2vw rgba(251, 255, 0, 0.5),
                -2vw -2vw 1vw -2vw rgba(64, 69, 131, 0.219) inset,
                -.25vw -.25vw .5vw .25vw rgba(36, 37, 104, 0.493) inset,
                -.25vw -.25vw .25vw .1vw rgba(29, 11, 78, 0.705) inset,
                -.25vw -.25vw 1vw .01vw rgb(0, 0, 0) inset,  
                .5vw .5vw 1vh black;
    font-size: 1.5vh;
    font-weight: bolder;
}
button:hover {
    transition-property: width, margin-right, margin-left, transform, box-shadow; /* Specify properties to transition */
    transition-duration: 0.15s; /* Set the duration for all transitioned properties */
    transition-timing-function: ease-in-out; /* Optional: Define how the transition progresses */
    width: 6.7vh;
    margin-right: .15vh;
    margin-left: .15vh;
    transform: translateY(.2vh); /* Slight downward shift */
    box-shadow: 0vw 0vw 2vw 1vw rgba(0, 0, 0, 0.151) inset,
                0vw 0vw 2vw 1vw rgba(0, 0, 0, 0.055) inset,
                .25vw .25vw .5vw -.25vw rgba(54, 46, 31, 0.089) inset,
                .25vw .25vw .25vw -.1vw rgba(68, 61, 21, 0.486) inset,  
                -.25vw -.25vw .25vw .1vw rgba(41, 25, 180, 0.719) inset,
                .5vw .5vw .75vh rgba(0, 0, 0, 0.479);

}
button:active {
    transition-property: width, margin-right, margin-left, transform, box-shadow, border-style; /* Specify properties to transition */
    transition-duration: 0.08s; /* Set the duration for all transitioned properties */
    transition-timing-function: ease-in-out; /* Optional: Define how the transition progresses */
    border-top: rgb(59, 67, 173);
    border-left: rgb(59, 67, 173);
    border-right: rgb(44, 70, 126);
    border-bottom: rgb(44, 70, 126);
    border-width: .4vh;
    border-style: inset;
    width: 6.5vh;
    margin-right: .25vh;
    margin-left: .25vh;
    transform: translateY(.3vh); /* Slight downward shift */
    box-shadow: 0vw 0vw 2vw 1vw rgba(0, 0, 0, 0.151) inset,
                2vw 2vw 1vw 2vw rgba(71, 54, 35, 0.158) inset,
                .25vw .25vw 1vw -.25vw rgba(0, 0, 0, 0.658) inset,
                .25vw .25vw .25vw -.1vw rgba(68, 61, 21, 0.486) inset,
                -.25vw -.25vw 1vw -.1vw rgba(255, 255, 245, 0.288) inset,  
                0vw 0vw .5vh rgba(0, 0, 0, 0.781) inset;
}

#secretMessage {
    font-family: "Digital-7 V7";
}